
<ul>
  <li class="contato-item">
    <span class="contato-name"><%= @contato.name %></span>
    <span class="contato-telefone"><%= @contato.telefone %></span>
    <span class="contato-observacoes"><%= @contato.observacoes %></span>
    <%= link_to "Editar Contato", edit_contato_path(@contato), class: "editar-link" %>
    <%= link_to "Destroy", contato_path(@contato), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Deseja deletar?"
                  }, class: "destroy-link" %>
  </li>
</ul>